html, body, #root, .uk-container{
  height: 100%;
  text-align: center;
}

.front-page a {
  border: #aa553a solid 1px;
  color: #aa553a;
}

.error {
  border: #ff3c00 dashed 1px!important;
  color: #ff3c00!important;
}
.error ~ span svg {
  color: #ff3c00!important;
}

img.profile {
  width: 100px;
  border-radius: 50%;
}
.fullname {
  font-weight: bold;
  margin: 30px 0 20px 0;
}
h2 {
  margin: 30px 0 10px 0;
}
h4 {
  margin: 0;
  font-style: italic;
  font-size: 1.10rem;
}

.portfolio-section a {
  border: none;
  color: #333;
  display: inline-block;
  padding: 0 10px;
}
.portfolio-section a.facebook:hover {
  color: #3b5998;
}
.portfolio-section a.behance:hover {
  color: #053eff;
}
.portfolio-section a.dribble:hover {
  color: #ea4c89;
}

.uk-form-password-toggle {

  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
  font-size: 13px;
  line-height: 13px;
  color: 

  #999;

}
.uk-inline {
  width: 100%;
}
.uk-container-xsmall {
  width: 420px;
}
.uk-legend {
  margin: 20px 0;
}